
input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
    background-size: cover;
    background-position: center;
    min-height: 326px;
    background-image: url(../img/bg.jpg);
    background-size: 10% auto;
    background-attachment: fixed;
    background-repeat: repeat;

}

.contract {
    display: block;
    content: "";
    width: 90px;
    height: 65px;
    /*position: absolute;*/
    /*transform: scale(2);*/
    /*background-size: 65px, 90px;*/
    background-size: contain;
    /*border-bottom-color: black;*/
    /*border-width: 1px;*/
    margin: 10px;
    background-repeat: no-repeat;

}

.green {background-image: url(../img/contract-green.png);}
.yellow {background-image: url(../img/contract-yellow.png);}
.red {background-image: url(../img/contract-red.png);}
.purple {background-image: url(../img/contract-purple.png);}
.external {background-image: url(../img/external-work.png);}

.contract-number {
    text-align: center;
    color: #bb3f90;
    font-family: Arial;
    font-weight: bold;
    padding-right: 50px;
    padding-top: 15px;
    /*margin-left: 30px;*/
    /*margin-top:30px;*/
    /*margin-bottom: 2px;*/
    /*border-width: 1px;*/

    /*margin-left: 20px;*/
    /*text-shadow: 0 1px 1px black, 0 -1px 1px black, -1px 0px 1px black, 1px 0px 1px black;*/
    text-shadow: #000 1px 0 0, #000 0 1px 0, #000 -1px 0 0, #000 0 -1px 0;
    filter: drop-shadow(0 0 2px white);
    font-size: 26px;
}

.contract-top {
    position: absolute;
    margin-left: 47px;
    margin-top: -40px;
    /*border-width: 5px;*/

}

.contract-middle {
    position: absolute;
    margin-left: 47px;
    margin-top: -33px;
}

.contract-bottom {
    position: absolute;
    margin-left: 47px;
    margin-top: -18px;
}

.contract-bottom-left {
    position: absolute;
    margin-left: 38px;
    margin-top: -20px;
}

.contract-bottom-right {
    position: absolute;
    margin-left: 56px;
    margin-top: -20px;
}

.external-middle {
    position: absolute;
    margin-left: 7px;
    margin-top: 18px;
}

.external-top {
    position: absolute;
    margin-left: 7px;
    margin-top: 8px;
}

.external-bottom {
    position: absolute;
    margin-left: 7px;
    margin-top: 28px;
}


.external-benefit-middle {
    position: absolute;
    margin-left: 53px;
    margin-top: 18px;
}

.external-benefit-top {
    position: absolute;
    margin-left: 53px;
    margin-top: 8px;
}

.external-benefit-bottom {
    position: absolute;
    margin-left: 53px;
    margin-top: 28px;
}

.external-benefit-bottom-left {
    position: absolute;
    margin-left: 45px;
    margin-top: 28px;
}

.external-benefit-bottom-right {
    position: absolute;
    margin-left: 62px;
    margin-top: 28px;
}


.conduit {
    display: inline-block;
    background-image: url(../img/conduit.png);
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    /*border-width: 5px;*/

    /*vertical-align: middle;*/
    /*margin-bottom: 5px;*/
    /*transform: scale(0.3);*/
}

/*.conduit-number {*/
/*    text-align: left;*/
/*    color: #bb3f90;*/
/*    !*font-family: Arial;*!*/
/*    font-weight: bold;*/
/*    margin-left: 5px;*/
/*    !*margin-top:0px;*!*/
/*    !*margin-bottom: 2px;*!*/
/*    !*text-shadow: 0 1px 1px black, 0 -1px 1px black, -1px 0px 1px black, 1px 0px 1px black;*!*/
/*    !*text-shadow: #000 1px 0 0, #000 0 1px 0, #000 -1px 0 0, #000 0 -1px 0;*!*/
/*    !*filter: drop-shadow(0 0 2px white);*!*/
/*    !*letter-spacing: 4px;*!*/
/*    font-size: 7px;*/
/*    !*transform: scale(0.3);*!*/
/*}*/
.conduit-number {
    text-align: left;
    color: #bb3f90;
    /*font-family: Arial;*/
    font-weight: bold;
    margin-left: -5px;
    /*margin-top:0px;*/
    margin-top: -12px;
    /*text-shadow: 0 1px 1px black, 0 -1px 1px black, -1px 0px 1px black, 1px 0px 1px black;*/
    text-shadow: #000 1px 0 0, #000 0 1px 0, #000 -1px 0 0, #000 0 -1px 0;
    /*filter: drop-shadow(0 0 2px white);*/
    /*letter-spacing: 4px;*/
    font-size: 24px;
    transform: scale(0.45);
}

.base {
    display: inline-block;
    background-image: url(../img/base.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 28px;
    height: 28px;
    background-size: 90% auto;
    /*border-width: 2px;*/
    /*vertical-align: middle;*/
    /*transform: scale(0.4);*/
}

.location {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    width: 28px;
    height: 28px;
    top: 2px;
    background-size: 80% 80%;
}

.plain {
    background-image: url(../img/plain.png);
}

.hills {
    background-image: url(../img/hills.png);
}

.mountain {
    background-image: url(../img/mountain.png);
}

.plainhills {
    background-image: url(../img/plain-or-hills.png);
}

.elevator {
    display: inline-block;
    background-image: url(../img/elevator.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 28px;
    height: 28px;
    background-size: contain;
}

.powerplant {
    display: inline-block;
    background-image: url(../img/powerplant.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 28px;
    height: 28px;
    background-size: contain;
}

.vp {
    display: inline-block;
    text-align: center;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    text-shadow: #000 1px 0 0, #000 0 1px 0, #000 -1px 0 0, #000 0 -1px 0;
    font-size: 12px;
    line-height: 27px;
    background-image: url(../img/vp.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 28px;
    height: 28px;
    background-size: 60% auto;
}

.money {
    display: inline-block;
    text-align: center;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    text-shadow: #000 1px 0 0, #000 0 1px 0, #000 -1px 0 0, #000 0 -1px 0;
    font-size: 12px;
    line-height: 28px;
    background-image: url(../img/resource-money.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 28px;
    height: 28px;
    background-size: 60% auto;
}

.rotate {
    display: inline-block;
    text-align: right;
    padding-top: 3px;
    padding-right: 6px;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    text-shadow: #000 1px 0 0, #000 0 1px 0, #000 -1px 0 0, #000 0 -1px 0;
    /*filter: drop-shadow(0 0 2px white);*/
    font-size: 10px;
    line-height: 14px;
    background-image: url(../img/rotate.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 28px;
    height: 28px;
    background-size: 50% auto;
}

.brownMachine {
    display: inline-block;
    text-align: center;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    text-shadow: #000 1px 0 0, #000 0 1px 0, #000 -1px 0 0, #000 0 -1px 0;
    font-size: 10px;
    line-height: 28px;
    background-image: url(../img/resource-brown.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 28px;
    height: 28px;
    background-size: 55% auto;
}

.whiteMachine {
    display: inline-block;
    text-align: center;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    text-shadow: #000 1px 0 0, #000 0 1px 0, #000 -1px 0 0, #000 0 -1px 0;
    font-size: 10px;
    line-height: 28px;
    background-image: url(../img/resource-white.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 28px;
    height: 28px;
    background-size: 55% auto;
}

.mixMachine {
    display: inline-block;
    text-align: center;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    text-shadow: #000 1px 0 0, #000 0 1px 0, #000 -1px 0 0, #000 0 -1px 0;
    font-size: 10px;
    line-height: 28px;
    background-image: url(../img/resource-mix.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 28px;
    height: 28px;
    background-size: 55% auto;
}

.purpleMachine {
    display: inline-block;
    text-align: center;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    text-shadow: #000 1px 0 0, #000 0 1px 0, #000 -1px 0 0, #000 0 -1px 0;
    font-size: 10px;
    line-height: 28px;
    background-image: url(../img/resource-purple.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 28px;
    height: 28px;
    background-size: 55% auto;
}

.brownMachine-red {
    display: inline-block;
    text-align: center;
    color: #cc283b;
    font-family: Arial;
    font-weight: bold;
    text-shadow: #000 1px 0 0, #000 0 1px 0, #000 -1px 0 0, #000 0 -1px 0;
    font-size: 10px;
    line-height: 28px;
    background-image: url(../img/resource-brown-red.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 28px;
    height: 28px;
    background-size: 55% auto;
}

.whiteMachine-red {
    display: inline-block;
    text-align: center;
    color: #cc283b;
    font-family: Arial;
    font-weight: bold;
    text-shadow: #000 1px 0 0, #000 0 1px 0, #000 -1px 0 0, #000 0 -1px 0;
    font-size: 10px;
    line-height: 28px;
    background-image: url(../img/resource-white-red.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 28px;
    height: 28px;
    background-size: 55% auto;
}

.mixMachine-red {
    display: inline-block;
    text-align: center;
    color: #cc283b;
    font-family: Arial;
    font-weight: bold;
    text-shadow: #000 1px 0 0, #000 0 1px 0, #000 -1px 0 0, #000 0 -1px 0;
    font-size: 10px;
    line-height: 28px;
    background-image: url(../img/resource-mix-red.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 28px;
    height: 28px;
    background-size: 55% auto;
}

.purpleMachine-red {
    display: inline-block;
    text-align: center;
    color: #cc283b;
    font-family: Arial;
    font-weight: bold;
    text-shadow: #000 1px 0 0, #000 0 1px 0, #000 -1px 0 0, #000 0 -1px 0;
    font-size: 10px;
    line-height: 28px;
    background-image: url(../img/resource-purple-red.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 28px;
    height: 28px;
    background-size: 55% auto;
}

.water {
    display: inline-block;
    text-align: center;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    text-shadow: #000 1px 0 0, #000 0 1px 0, #000 -1px 0 0, #000 0 -1px 0;
    font-size: 10px;
    line-height: 29px;
    background-image: url(../img/water.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 28px;
    height: 28px;
    background-size: 65% auto;
}

.waterDrop {
    display: inline-block;
    text-align: center;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    text-shadow: #000 1px 0 0, #000 0 1px 0, #000 -1px 0 0, #000 0 -1px 0;
    font-size: 8px;
    line-height: 24px;
    background-image: url(../img/water-drop.png);
    background-repeat: no-repeat;
    background-position: center center;
    width: 28px;
    height: 28px;
    background-size: 72% auto;
}

.energyPro {
    display: inline-block;
    text-align: center;
    color: #bb3f90;
    font-family: Arial;
    padding-right: 0px;
    /*font-weight: bold;*/
    /*text-shadow: 0 1px 1px black, 0 -1px 1px black, -1px 0px 1px black, 1px 0px 1px black;*/
    text-shadow: #000 1px 0 0, #000 0 1px 0, #000 -1px 0 0, #000 0 -1px 0;
    /*filter: drop-shadow(0 0 2px white);*/
    font-size: 13px;
    line-height: 28px;
    background-repeat: no-repeat;
    background-position: 15px center;
    width: 28px;
    height: 28px;
    background-size: 30% auto;
    background-image: url(../img/arrow-right.png);
}

.energy {
    text-align: center;
    color: #bb3f90;
    font-family: Arial;
    padding-right: 0px;
    /*font-weight: bold;*/
    /*text-shadow: 0 1px 1px black, 0 -1px 1px black, -1px 0px 1px black, 1px 0px 1px black;*/
    text-shadow: #000 1px 0 0, #000 0 1px 0, #000 -1px 0 0, #000 0 -1px 0;
    filter: drop-shadow(0 0 1px white);
    font-size: 13px;
    line-height: 28px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 28px;
    height: 28px;
    background-size: 80% auto;
    background-image: url(../img/energy-bg.png);
}


.fulfillContract {
    display: inline-block;
    text-align: center;
    color: #bb3f90;
    font-family: Arial;
    padding-right: 0px;
    /*font-weight: bold;*/
    /*text-shadow: 0 1px 1px black, 0 -1px 1px black, -1px 0px 1px black, 1px 0px 1px black;*/
    text-shadow: #000 1px 0 0, #000 0 1px 0, #000 -1px 0 0, #000 0 -1px 0;
    /*filter: drop-shadow(0 0 2px white);*/
    font-size: 10px;
    line-height: 32px;
    background-repeat: no-repeat;
    background-position: 5px center;
    width: 28px;
    height: 28px;
    background-size: 80% auto;
    background-image: url(../img/fulfill-contract.png);
}

.fulfillAnyContract {
    display: inline-block;
    text-align: center;
    color: #bb3f90;
    font-family: Arial;
    padding-right: 0px;
    /*font-weight: bold;*/
    /*text-shadow: 0 1px 1px black, 0 -1px 1px black, -1px 0px 1px black, 1px 0px 1px black;*/
    text-shadow: #000 1px 0 0, #000 0 1px 0, #000 -1px 0 0, #000 0 -1px 0;
    /*filter: drop-shadow(0 0 2px white);*/
    font-size: 10px;
    line-height: 32px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 28px;
    height: 28px;
    background-size: 80% auto;
    background-image: url(../img/fulfill-any-contract.png);
}


.techTile {
    display: inline-block;
    text-align: center;
    color: #bb3f90;
    font-family: Arial;
    padding-right: 0px;
    /*font-weight: bold;*/
    /*text-shadow: 0 1px 1px black, 0 -1px 1px black, -1px 0px 1px black, 1px 0px 1px black;*/
    text-shadow: #000 1px 0 0, #000 0 1px 0, #000 -1px 0 0, #000 0 -1px 0;
    /*filter: drop-shadow(0 0 2px white);*/
    font-size: 10px;
    line-height: 32px;
    background-repeat: no-repeat;
    background-position: center center;
    width: 28px;
    height: 28px;
    background-size: 80% auto;
    background-image: url(../img/tech-tile.png);
}

.xo-avatar {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: -130px -13px;
    width: 40px;
    height: 40px;
    background-size: 450% auto;
}

.xo-card {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    width: 300px;
    height: 216px;
    background-size: 100% auto;
}

.xo-desc-1 {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: -20px -46px;
    width: 114px;
    height: 38px;
    background-size: 200% auto;
}

.xo-desc-2 {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: -20px -50px;
    width: 142px;
    height: 38px;
    background-size: 170% auto;
}

.xo-desc-3 {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: -20px -50px;
    width: 138px;
    height: 38px;
    background-size: 175% auto;
}

.xo-desc-4 {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: -18px -52px;
    width: 140px;
    height: 38px;
    background-size: 170% auto;
}

.xo-1 {background-image: url(../img/xo/xo-1.jpg);}
.xo-2 {background-image: url(../img/xo/xo-2.jpg);}
.xo-3 {background-image: url(../img/xo/xo-3.jpg);}
.xo-4 {background-image: url(../img/xo/xo-4.jpg);}
.xo-5 {background-image: url(../img/xo/xo-5.jpg);}
.xo-6 {background-image: url(../img/xo/xo-6.jpg);}
.xo-7 {background-image: url(../img/xo/xo-7.jpg);}
.xo-8 {background-image: url(../img/xo/xo-8.jpg);}
.xo-9 {background-image: url(../img/xo/xo-9.jpg);}
.xo-10 {background-image: url(../img/xo/xo-10.jpg);}
.xo-11 {background-image: url(../img/xo/xo-11.jpg);}
.xo-12 {background-image: url(../img/xo/xo-12.jpg);}
.xo-13 {background-image: url(../img/xo/xo-13.jpg);}
.xo-14 {background-image: url(../img/xo/xo-14.jpg);}
.xo-15 {background-image: url(../img/xo/xo-15.jpg);}
.xo-16 {background-image: url(../img/xo/xo-16.jpg);}
.xo-17 {background-image: url(../img/xo/xo-17.jpg);}




.icon-right-arrow {
    /*background-image: url(../img/arrow-right.png);*/
    /*background-repeat: no-repeat;*/
    /*width: 46px;*/
    /*height: 40px;*/
    /*background-size: 40px;*/
    /*transform: scale(0.15);*/
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.custom-number-input input:focus {
    outline: none !important;
}

.custom-number-input button:focus {
    outline: none !important;
}
